<nav aria-label="breadcrumb">
<ol class="breadcrumb">
	{% assign dirs = page.path | split: "/" %}
	{% assign lastitem = dirs | last %}

	{% assign dirs = dirs | reverse | shift | reverse %}
	{% if lastitem == "index.md" %}
		{% assign dirs = dirs | reverse | shift | reverse %}
	{% endif %}
	{% assign currentdir = "" %}

	{% for item in dirs %}
		{% assign currentdir = currentdir | append: item | append: "/" %}
		{% assign currentpath = currentdir | append: "index.md" %}
	
		{% include_cached breadcrumb-item.html currentpath=currentpath %}
		
	{% endfor %}
	<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
</ol>
</nav>