    {% assign pages=site.pages  %}
    {%- assign default_paths = pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = pages | map: 'title' | join: '' | size -%}
    {%- if titles_size > 0 -%}
	<nav class="site-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="active" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
      </nav>
    {%- endif -%}
	