<html>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/v-minusplusfield.js" type="text/javascript"></script>
    <link href="css/v-minusplusfield.css" rel="stylesheet" />
</head>

<body>



    <div class="container" id="app">
        <div class="row">
            <div class="col">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="stats-tab" data-toggle="tab" href="#stats" role="tab"
                            aria-controls="stats" aria-selected="true">Stats</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="talent-tab" data-toggle="tab" href="#talent" role="tab"
                            aria-controls="talent" aria-selected="false">Talent</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="rank-tab" data-toggle="tab" href="#rank" role="tab" aria-controls="rank"
                            aria-selected="false">Rank</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="gear-tab" data-toggle="tab" href="#gear" role="tab" aria-controls="gear"
                            aria-selected="false">Gear</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <!-- border for tab, but remove the top one since that is already done by the navbar -->
                <div class="tab-content border border-top-0 p-1">
                    <div id="stats" role="tabpanel" aria-labelledby="stats-tab" class="tab-pane active">
                        <div>
                            <div class="input-group mb-3">
                                <input type="name" class="form-control" v-model="charactername" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                              </div>
                            Level: <v-minusplusfield v-bind:value="level" :min="1" :max="20"
                                        v-on:input="level = $event"></v-minusplusfield>
                            <div id="v-for-object" class="row">
                                <div v-for="(value, name) in attributes" class="col">
                                    {{ name }}
                                    <v-minusplusfield v-bind:value="value" :min="0" :max="6"
                                        v-on:input="attributes[name] = $event"></v-minusplusfield>
                                </div>
                            </div> total: {{total}}
                        </div>
                    </div>
                    <div id="talent" role="tabpanel" aria-labelledby="talent-tab" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="rank" role="tabpanel" aria-labelledby="rank-tab" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                    <div id="gear" role="tabpanel" aria-labelledby="gear-tab" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Some content in menu 3.</p>
                    </div>
                </div>
            </div>
            <div class="col border rounded m-1"> 
                <h2>Character sheet</h2>
                <div>
                    <div class="row">
                        <div class="col">Name</div><div class="col">{{ charactername  }}</div>
                    </div>
                    <div v-for="(value, name) in attributes" class="row">
                        <div class="col">{{ name }}</div><div class="col">{{ value }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                charactername: "",
                level: 1,
                attributes: {
                    str: 1,
                    dex: 1,
                    con: 1,
                    int: 1,
                    wis: 1,
                    cha: 1
                }
            },
            computed: {
                total: function () {
                    return 4 + this.level / 2;
                }

            }
        })
    </script>
</body>

</html>