<html>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/v-minusplusfield.js" type="text/javascript"></script>
    <link href="css/v-minusplusfield.css" rel="stylesheet" />
    <script src = "ranks.js" type="text/javascript" charset="utf-8"></script>
	<script src = "gear.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>



    <div class="container-lg" id="app">
        <div class="row">
            <div class="col-6">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="stats-tab" data-toggle="tab" href="#stats" role="tab"
                            aria-controls="stats" aria-selected="true">Estadísticas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="talent-tab" data-toggle="tab" href="#talent" role="tab"
                            aria-controls="talent" aria-selected="false">Talentos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill"
                            aria-selected="false">Rangos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="gear-tab" data-toggle="tab" href="#gear" role="tab" aria-controls="gear"
                            aria-selected="false">Equipamiento</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <!-- border for tab, but remove the top one since that is already done by the navbar -->
                <div class="tab-content border border-top-0 p-1">
                    <div id="stats" role="tabpanel" aria-labelledby="stats-tab" class="tab-pane active">
                        <div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" v-model="charactername" placeholder="Nombre"
                                    aria-label="Name" aria-describedby="basic-addon1">
                            </div>
                            Nivel: <v-minusplusfield v-bind:value="level" :min="1" :max="20"
                                v-on:input="level = $event"></v-minusplusfield>
                            <div class="row">
                                <div v-for="(value, name) in attributes" class="col">
                                    {{ name }}
                                    <v-minusplusfield v-bind:value="value" :min="-5" :max="Math.min(value + attributes_points_available, level == 1 ? 3 : (level < 12 ? 6 : 9))"
                                        v-on:input="attributes[name] = $event"></v-minusplusfield>
                                </div>
                            </div> 
                            total: {{attributes_points_max}} niveles de talento: {{attributes_points_available}}
                        </div>
                    </div>
                    <div id="talent" role="tabpanel" aria-labelledby="talent-tab" class="tab-pane fade">
                        <div class="row" v-for="(value, name) in talents">
                            <div class="col">
                                {{ name }}
                            </div>
                            <div class="col">
                                <v-minusplusfield v-bind:value="value.points" :min="0" :max="Math.min(value.points + talent_points_available,level == 1 ? 2 : 5)"
                                    v-on:input="talents[name].points = $event"></v-minusplusfield>
                            </div>
                        </div>
                        total: {{talent_points_max}} points {{talent_points_available}}
                    </div>
                    <div id="skill" role="tabpanel" aria-labelledby="skill-tab" class="tab-pane fade">
                        <div class="row" v-for="(value, name) in skills">
                            <div class="col">
                                {{ name }}
                            </div>
                            <div class="col">
                                <v-minusplusfield v-bind:value="value.points" :min="0" :max="Math.min(value.points + skill_points_available,value.max, level>1 ? Math.floor(level/2) : 1)"
                                    v-on:input="skills[name].points = $event"></v-minusplusfield>
                            </div>
                        </div>
                        total: {{skill_points_max}} rangos disponibles: {{skill_points_available}}
                    </div>
                    <div id="gear" role="tabpanel" aria-labelledby="gear-tab" class="tab-pane fade">
                        <h3>Equipamiento</h3>
						<div>Armaduras</div>
						<select v-model="selectedarmor">
							<template v-for="(value, name) in gear.armor">
								<option> {{name}}</option>
							</template>
						</select>
						<div>Mano principal</div>
						<select v-model="mainhandweapon">
							<template v-for="(value, name) in gear.weapons">
								<option> {{name}}</option>
							</template>
						</select>
						<div>Mano secundaria</div>
						<select v-model="offhandweapon" v-if="gear.weapons[mainhandweapon].hands==1">
							<template v-for="(value, name) in gear.weapons">
								<option v-if="gear.weapons[name].hands==1">{{name}}</option>
							</template>
						</select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2>Character sheet</h2>
                <div>
                    <div class="row">
                        <div class="col">{{ charactername }}</div>
                        <div class="col">Nivel: {{level}}</div>

                    </div>
                    <div class="row">
                        <div class="col">PV:&nbsp;{{computedstats.hp}}</div>
                        <div class="col">Vitalidad:&nbsp;{{computedstats.vitality}}</div>
                        <div class="col">Cordura:&nbsp;{{computedstats.sanity}}</div>
                        <div class="col">DEF:&nbsp; {{computedstats.def}}</div>
                    </div>
                    <div v-for="(value, name) in computedstats.basestats" class="row">
                        <div class="col">{{ name }}</div>
                        <div class="col">{{ value }}</div>
                    </div>
					<div class="row">
                        <div class="col">Acciones: </div>
                        <div class="col">{{computedstats.actions}}</div>
                    </div>
				</div>
				<div>
					<h6>Talentos:</h6>
					<ul>
					<template v-for="(value, name) in talents">
						<li v-if="value.points>0">{{name}} +{{value.points + attributes[value.attribute]}} </li>
					</template>
					</ul>
				</div>
				<div>
				<h6>Habilidades: </h6>
				<template v-for="(value, name) in allskills">
					<div>
					{{name}}
					</div>
					<ul>
					<li v-for="(skilltype, skillname) in value">
						<strong>{{skillname}}</strong> <small>{{skilltype}}</small>
					</li>
					</ul>
				</template>
				</div>
            </div>
        </div>
    </div>
    <script>

        var skillstate = {};
        for(r in listofskills)
        {
            var maxlevel = 0;
            for(a in listofskills[r].skills)
            {
                maxlevel = Math.max(maxlevel, listofskills[r].skills[a].level);
            }
            skillstate[r] = { points:0, max:maxlevel };
        }

        var app = new Vue({
            el: '#app',
            data: {
                charactername: "",
                level: 1,
                attributes: {
                    str: 1,
                    dex: 1,
                    con: 1,
                    int: 1,
                    wis: 1,
                    cha: 1
                },
                skills: skillstate,
                talents: {
                    athletics: { attribute: "str", points: 0 },
                    heroics: { attribute: "str", points: 0 },
                    wreck: { attribute: "str", points: 0 },
                    acrobatics: { attribute: "dex", points: 0 },
                    stealth: { attribute: "dex", points: 0 },
                    "sleight of hand": { attribute: "dex", points: 0 },
                    memory: { attribute: "int", points: 0 },
                    arcana: { attribute: "int", points: 0 },
                    perception: { attribute: "wis", points: 0 },
                    insight: { attribute: "wis", points: 0 },
                    survival: { attribute: "wis", points: 0 },
                    "first aid": { attribute: "wis", points: 0 },
                    performance: { attribute: "cha", points: 0 },
                    deception: { attribute: "cha", points: 0 },
					willpower: { attribute: "cha", points: 0 },
                },
				gear: listofgear,
				selectedarmor: "Ligera",
				mainhandweapon: "Golpe",
				offhandweapon: "Golpe",

            },
            computed: {
			    computedstats: function()
				{
				    var context = 
					{
						armorpenalty: this.gear.armor[this.selectedarmor].penalty,
						basestats:
						{
							str: this.attributes.str,
							dex: (this.attributes.dex + this.armorpenalty),
							con: this.attributes.con,
							int: this.attributes.int,
							wis: this.attributes.wis,
							cha: this.attributes.cha,
						},
						actions: 3, 
						resistances: [],
						temp:
						{
							hpbonus: 0,
							defbonus: 0,
						}
					};
					
					for(var s in this.skills)
					{
						var points = this.skills[s].points;
						if (points > 0)
						{
						
						    if (listofskills[s].bonus != undefined)
							{
								listofskills[s].bonus(context, points);
						    }
							for(var r in listofskills[s].skills)
							{
								var item = listofskills[s].skills[r];
							
								if (item.level <= points)
								{
									if (item.bonus != undefined)
									{
										item.bonus(context, points);
									}
								}
							}
						}
				    }
					context.def = this.gear.armor[this.selectedarmor].def + context.temp.defbonus;
					context.hp = 3 + Math.floor((this.level - 1) / 3) + context.basestats.con + context.temp.hpbonus;
					context.vitality = 2 + this.level + context.basestats.con;
					context.sanity = 2 + this.level + context.basestats.wis;
					context.mainWeapon = this.gear.weapons[this.mainhandweapon];
					delete context.temp;
					return context;
				},
			
                attributes_points_max: function () {
                    return Math.floor(4 + this.level / 2);
                },
                attributes_points_available: function () {
                    var t = this.attributes_points_max + 6;
                    for (var a in this.attributes) {
                        t -= this.attributes[a];
                    }
                    return t;
                },
                talent_points_max: function () {
                    return this.level + 3;
                },
                talent_points_available: function () {
                    var t = this.talent_points_max;
                    for (var a in this.talents) {
                        t -= this.talents[a].points;
                    }
                    return t;
                },       
                skill_points_max: function () {
                    return this.level + 1;
                },
                skill_points_available: function () {
                    var t = this.skill_points_max;
                    for (var a in this.skills) {
                        t -= this.skills[a].points;
                    }	
                    return t;
                },          
				
				/* calculates the list of all skills that have points */
				allskills: function() {
					var retval = {};
					
					var context = this.computedstats;
					
					for(var s in this.skills)
					{
						var points = this.skills[s].points;
						if (points > 0)
						{
							for(var r in listofskills[s].skills)
							{
								var item = listofskills[s].skills[r];
							
								if (item.level <= points)
								{
									if (retval[item.type] == undefined)
									{
									    retval[item.type] = {};
									}
								
									var description;
									if (typeof item.description === 'function')
									{
										description = item.description(context, points);
									}
									else
									{
										description = item.description;
									}
									if(item.cost != undefined){		
										description += " ("+item.cost+" accion" + (item.cost > 1 ? "es" : "") + ")";
									}

									
									retval[item.type][item.name] = description;
								}
							}
						}
					}
					
					return retval;
				}
            },
            methods:{

            }
        })
    </script>
</body>

</html>