---
layout: page
---
<div class="container text-justify">
{{ content }}
</div>

<h2>
{% if page.lang == 'es' %}
    Índice    
{%else%}
    Index
{%endif%}
</h2>

<div class="container">
    <ul class="list-unstyled card-columns">
        {% assign mypages = site.pages | where_exp: "p", "p.dir contains page.dir" | where_exp: "p", "p.url != page.url" | where_exp: "p", "p.lang == page.lang" %}

        {% assign categories = mypages | map: "category" | uniq | sort %}

        {% for cat in categories %}
        <li>
            {{ cat }}
            <ul>
                {% assign insidecat = mypages | where: "category", cat %}
                {% for item in insidecat %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</div>