---
layout: page
---
<div class="container text-justify">
{{ content }}
</div>

<div class="container">
    <ul class="list-unstyled">
        {% assign mypages = site.pages | where_exp: "p", "p.dir == page.dir" | where_exp: "p", "p.url != page.url" | where_exp: "p", "p.lang == page.lang" | sort: "name" %}
        {% for item in mypages %}
        <li>
		
            <h2><a href="{{item.url}}">{{ item.title }}</a></h2>
			{% if items.niveles %}<p>Nivel: {{ item.niveles }}</p>{% endif %}
			<p>{{ item.content | markdownify | split: '<h' | first }}</p>
        </li>
        {% endfor %}
    </ul>

</div>