---
layout: page
---
<div class="container text-justify">

{% include breadcrumbs.html page=page %}

{{ content }}
</div>

<div class="container">
    <ul class="list-unstyled">
		{% assign subpages = site.pages | where_exp: "p", "p.url != page.url" | where_exp: "p", "p.dir contains page.dir" | sort: "path" %}
		{% for item in subpages %}
		{% assign dirremove = item.dir | replace: page.dir, "" | split: "/" %}
		
		{% assign issubpage = false %}
		
		{% if item.name == "index.md" and dirremove.size == 1 %}
		{% assign issubpage = true %}
		{% endif %}
		
		{% if issubpage or dirremove.size == 0 %}
		
        <li>
		
            <h2><a href="{{item.url}}">{{ item.title }}</a></h2>
			{% if items.niveles %}<p>Nivel: {{ item.niveles }}</p>{% endif %}
			<p>{{ item.content | markdownify | split: '<h' | first }}</p>
        </li>
		{% endif %}
        {% endfor %}
		
    </ul>

</div>